/*==========================================================================
#title            : WEBSITE SHOES
#description      : Website from PSD
#author           : CAILLOT Brieuc
#date             : 20161213
#version          : Constantly on progress
#usage            : CSS
#notes            : Only working on search engine
============================================================================*/


@font-face {
	font-family: police;
	src: url(../police/DINNextLTPro-MediumCond.otf);
}
html {
	font-family: police;
	background: 100% 100% #c8cfdc;
	position: relative;
}

body{
	background: #fff;
	margin: 50px;
	padding: 20px;
	position: relative;
}

/* HEADER */


	/* LEFT HEADER */

#header {
	height: 40%;
	width: 100%;
	background: url(../images/firstbloc/header/logo.png) no-repeat;
}

#header ul{
	float: left;
	width: 100%;
	margin-left: 15px;
	color: #414141;
}

#header ul li {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0px 20px 0px 26px;
}

#header ul li:hover:nth-child(-n+5) {
	color: #0089cf;
	border-bottom: 3px solid #0089cf;
	border-width: 3px 30px;
	padding-bottom: 2%;
}

#header ul li:nth-child(5) {
	margin-right: 28em;
}

#header ul li:nth-child(n+6) img {
	padding-right: 7px;;
}

#container {
	background: url(../images/firstbloc/container/wish.png) no-repeat;
	width: 20em;;
	height: 26em;;
	position: absolute;
	top: 10em;
	left: 55em;
}

#viewshoes {
	position: absolute;
	top: 17.5em;
	left: 8.5em;
	background: url(../images/firstbloc/container/viewshoes1.png) no-repeat;
	width: 40em;
	height: 19em;
}

#container #text p {
	color: #7e7e7e;

}

#container #text {
	padding-top: 5em;
}

#container #text h2{
	padding-bottom: 0.1em;
}

#container #text h1{
	padding-left: 3em;;
	position: absolute;
	top: 3em;
	left: 0em
}

#container #shoes1 {
	background: url(../images/firstbloc/container/firstshoes.png) no-repeat;
	width: 5em;
	height: 6em;
}

#container #shoes2 {
	background: url(../images/firstbloc/container/secondshoes.png) no-repeat;
	width: 5em;
	height: 6em;
	position: absolute;
	top: 15.22em;
	left: 5.7em
}

#container #size {
	position: absolute;
	top: 27.5em;
	font-family: roboto;
	font-size: 12px;
	color: #7e7e7e;
	opacity: 0.5;
}

.dropdown .dropbtn {
	position: absolute;
	top: 21em;
	font-family: police;
    background-color: #fff;
    color: #7E7E7E;
    border: 1px solid #e4e4e4;
    padding: 16px;
    font-size: 18px;
    width: 7em;
    padding-right: 4em;
}

.cartbtn {
	position: absolute;
	top: 21em;
	left: 7.6em;
	font-family: police;
    background-color: #000000;
    color: #fff;
    border: 1px solid #e4e4e4;
    padding: 16px;
    font-size: 18px;
    width: 7em;
}





